
@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');

:root{
    --white : #ffffff;
    --grey-10: #f4f4f4;
    --grey-30: #cccccc;
    --grey-40: #a0a0a0;
    --grey-50: #616161;
    --grey-70: #393939;
    --grey-90: #262626;
    --grey-100: #161616;
    --colour: #0062ff;  
}

body{
    font-family: 'IBM Plex Sans' !important;
    color: var(--grey-100);
}


p{
    text-align: justify;
    font-size: 1rem;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.m-bottom{
    margin-bottom: 1rem;
    height: 6rem;
}

.m-vertical{
    margin-bottom: 5rem;
    margin-top: 5rem;
}


.section{
    height: 100vh !important;
}

.svg-pict{
    max-width: 20vh !important;
    margin: 2.5rem 0rem 1rem 0rem;
    fill: var(--white) !important;
}

.pointer-toggle{
    cursor: pointer;
}

@media (min-width: 768px) {
    .h-margin {
      margin: 0rem 5rem;
    }
}

.btn--primary{
    padding: 1rem;
    /* text-align: center;
    justify-content: center;
    display: flex; */
    background-color: var(--colour);
    color: var(--white);
    font-weight: 400;
    cursor: pointer;
    min-width: 200px;
    max-width: 20vw;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.user-exp-svg{
    content:url("../img/user--experience-design.svg");
}
.ml-svg{
    content:url("../img/light-machine-learning.svg");
}
.dev-svg{
    content:url("../img/app--developer.svg");
}
.light-right-arrow-svg{
    content:url("../img/light_arrow_right.svg");
    float: right;
}
.dark-right-arrow-svg{
    content:url("../img/dark_arrow_right.svg");
    float: right;
}

.github-svg{
    content:url("../img/github--grey.svg");
    /* float: right; */
}

.linked-in-svg{
    content:url("../img/linkedin.svg");
    /* float: right; */
}

.chevron-down-svg{  
    content:url("../img/chevron--down.svg");
    /* float: center; */
    max-width: 10vh;
    position: relative;
    bottom: -20vh;
}






/* title */

.title-content h1{
    font-size: 3.5rem;
    font-weight: 50;
    /* text-transform: uppercase; */
}


.title-content h2{
    font-size: 2rem;
    font-weight: 400;
    /* text-transform: uppercase; */
}

.title-content h6{
    font-size: 1.2rem;
}

.title-content a{
    margin: 0rem 1rem;
}

.down-chevron{
   bottom: -30vw; 
}

/* title */

/* about */

.profile-img{
    max-height: 60vh;
}

.about-section{
    background-color: var(--grey-10);
    align-items: center;
    justify-content: center;
}

.about-desc{
    justify-content: center;
}

.about-heading h1{
    font-size: 3rem;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    text-transform: uppercase;
    width: 100%;
}

.about-heading h6{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}


.about-content{
    font-weight: 300;
}

/* about */

/* service */

.services-heading h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.services-heading h6{
    font-size: 1.5rem;
}

.services-content .col-md-4{
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: var(--grey-10);

}

.services-content .col-md-4 h2{
    /* font-size: 2rem; */
    /* height: 8vw; */
    padding-bottom: 0.8rem;
    /* text-transform: uppercase; */
    font-weight: 400;
    text-align: left;
}

.services-content .col-md-4 p{
    margin-bottom: 1.5rem;
}

.grey-100{
    background-color: var(--grey-100);
    color: var(--white);
}

.grey-90{
    background-color: var(--grey-90);
    color: var(--white);
}

.grey-70{
    background-color: var(--grey-70);
    color: var(--white);
}

.grey-50{
    background-color: var(--grey-50);
    color: var(--white);
}

.grey-40{
    background-color: var(--grey-40);
    color: var(--grey-90) !important;
}

.grey-30{
    background-color: var(--grey-30);
    color: var(--grey-90) !important;
}

.grey-10{
    background-color: var(--grey-10);
    color: var(--grey-90) !important;
}

.grey-0{
    background-color: var(--white);
    color: var(--grey-90) !important;
}
/* service */


/* portfolio */


/* portfolio */



/* timeline */

.timeline-heading h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.timeline-heading h6{
    font-size: 1.5rem;
}


.timeline ul{
    border-left: 4px solid var(--grey-100);
    /* border-radius: 0.8rem; */
    background-color: var(--grey-10);
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    margin-left: 25%;
    list-style: none;
    text-align: left;
    /* width: 70%; */
}

.timeline h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    /* opacity: 0.3; */
}

.timeline .date{
    border-bottom: 1px solid var(--grey-30);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -14.5rem;
    text-align: right;
    min-width: 12rem;
    font-size: 0.9rem !important;
    font-weight: 600 !important;
}

.timeline .date::after{
    content: "";
    box-shadow: 0 0 0 4px var(--grey-50);
    border-radius: 100%;
    left: -1.7rem;
    height: 1.0rem;
    width: 1.0rem;
    background-color: var(--white);

}


/* timeline */



/* modal */

.modal-dailogue{
    border-radius: 0 !important;
}

.modal-close{
    padding: 1rem;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: var(--colour);
    color: var(--white);
    font-weight: 400;
    cursor: pointer;
}

.git-cta{
    padding: 1rem;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: var(--grey-100);
    color: var(--white);
    font-weight: 400;
    cursor: pointer;
}

.modal-body{
    padding: 0 !important;
}

.modal-body h2{
    margin: 1rem;
}

.modal-body b{
    margin: 1rem 1rem 0rem 1rem;
}
.modal-body p{
    margin: 0rem 1rem 1rem 1rem;
}


.modal-body .row{
    --bs-gutter-x: 0 !important;
    margin-top: 2rem;
}



/* modal */